.product {
    padding: 24px 0 60px;

    &__container {

    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 32px;
        @media (min-width: 768px) {
            gap: 40px;
        }
        @media (min-width: 1024px) {
            flex-direction: row;
            gap: 12px;
        }
        @media (min-width: 1440px) {
            gap: 16px;
        }
    }

    &__title {
        font-family: Inter;
        font-weight: 900;
        font-size: 24px;
        margin-bottom: 24px;
        @media (min-width: 768px) {
            font-size: 32px;
            margin-bottom: 32px;
        }
        @media (min-width: 1440px) {
            margin-bottom: 40px;
        }
    }

    &__slider {

    }

    &__slider-image {
        margin-bottom: 32px;
        min-height: 236px;
        border-radius: 16px;
        width: 100%;
        @media (min-width: 768px) {
            margin-bottom: 12px;
        }
        @media (min-width: 1024px) {
            margin-bottom: 16px;
        }
    }

    &__slider-thumbnails {

    }

    &__info {
        color: #1c1c1c;
        @media (min-width: 1024px) {
            min-width: 40%;
        }
    }

    &__info-price {
        font-size: 20px;
        margin-bottom: 12px;
        @media (min-width: 768px) {
            
        }
    }

    &__info-id {
        font-size: 12px;
        margin-bottom: 24px;
        border-radius:32px;
        background-color: #EEEFF2;
        padding: 4px 8px;
        display: inline-block;
        @media (min-width: 768px) {
            margin-bottom: 28px;
        }
        @media (min-width: 1024px) {
            margin-bottom: 24px;
        }
    }

    &__info-title {
    }

    &__info-table {
        margin-bottom: 24px;
    }

}

.info-buttons {
    // background-color: #0044F0;
    display: flex;
    gap: 12px;

    .info-button__to-cart {
        color: #fff;
        background-color: #0044F0;
        border: 1px solid #0044F0;
        border-radius: 32px;
        padding: 12px 24px;
        width: 100%;
        &:hover {
            background-color: #0945DE;
            border-color: #0945DE;
        }
        &:active {
            background-color: #0044F0;
            border-color: #0044F0;
        }
    }
    
    .info-button__like {
        align-self: center;
        flex-shrink: 0;
    }
}

.slider-thumbnails {
display: none;

@media (min-width: 768px) {
    display: flex;
    gap: 14px;
}
@media (min-width: 1024px) {
    gap: 12px;
}
@media (min-width: 1440px) {
    gap: 16px;
}

    &__item {
        border-radius: 16px;
        overflow: hidden;
        width: 100%;
    }
    
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.container {
}
.table {
    width: 100%;

    &__title {
        font-size: 16px;
        text-align: start;
        margin-bottom: 12px;

    }

    &__row {
    }
    
    &__item {
        border-bottom: 1px solid #eeeff2;
        padding: 8px 0;
        color: #969eae;
        &:last-child {
            color: #1c1c1c;
            text-align: end;
        }
    }
}
